body{
    background-attachment: fixed;
    background-image: url('../images/sky.jpg'); 
}   

.text-shadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.invalid-feedback {
position: absolute;
font-size: 0.875em;
}

hr {
    width: 85%; 
    margin: 0 auto; 
    margin-top: 0.75rem;
}

.lowtemp{
    color: blue;
}

.hightemp{
    color:red;
}

.icon{
    height: auto;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.7));
}

.map {
    height: 400px;
    width: 100%;
    padding: 0.5em;
}

.nav-tabs .nav-link {
    background-color: blue; 
    color: white;
}

.nav-tabs .nav-link.active {
    background-color: #fff;
    color: blue;
}
.card-body{
    width: 100%;
}
